<section class="contact-block container">
  <div class="contact__datails">
    <h3>ارتباط با ما</h3>
    <p>
      شما میتوانید نظرات و انتقادات <br />
      خود را برای ما بفرستید
    </p>
  </div>
  <div class="contact__icons">
    <span class="icon-container">
      <svg class="icon">
        <use xlink:href="/assets/images/svg-sprite.svg#telegram"></use>
      </svg>
    </span>
    <span class="icon-container">
      <svg class="icon">
        <use xlink:href="/assets/images/svg-sprite.svg#linkedin"></use>
      </svg>
    </span>
    <span class="icon-container">
      <svg class="icon">
        <use xlink:href="/assets/images/svg-sprite.svg#twitter"></use>
      </svg>
    </span>
  </div>
  <div class="contact__info">
    <div class="icon-holder">
      <span class="icon-holder__lable">amirreza.m13825@gmail.com</span>
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#Message"></use>
        </svg>
      </span>
    </div>

    <div class="icon-holder">
      <span class="icon-holder__lable">989123456789+</span>
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#Calling"></use>
        </svg>
      </span>
    </div>

    <div class="icon-holder icon-location">
      <span class="icon-holder__lable" style="text-align: center">
        ایران - کردستان - سنندج <br />
        خیابان 21 - کوچه 101
      </span>
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="/assets/images/svg-sprite.svg#Location"></use>
        </svg>
      </span>
    </div>
  </div>
  <div class="contact__map-box">
    <img class="contact__map" src="/assets/images/map.png" alt="map-img" />
  </div>
  <div class="form-wrapper">
    <h3>نظرات شما</h3>
    <form class="contact__form">
      <input type="text" placeholder="نام و نام خانوادگی" />
      <input type="email" placeholder="ایمیل" />
      <textarea cols="30" rows="5" placeholder="متن نظر"></textarea>
      <button type="submit" class="btn btn--primary">ارسال نظر</button>
    </form>
  </div>
</section>
